programação/dados/Dicionário_Microdados_Enem_2020.xlsx
programação/dados/Dicionário_Microdados_Enem_2021.xlsx
programação/dados/Dicionário_Microdados_Enem_2023.xlsx
programação/dados/Dicionário_Microdados_Enem_2022.xlsx
programação/dados/MICRODADOS_ENEM_2021.csv
programação/dados/MICRODADOS_ENEM_2020.csv
programação/dados/MICRODADOS_ENEM_2022.csv
programação/dados/MICRODADOS_ENEM_2023.csv
programação/dados/zips/microdados_enem_2021.zip
programação/dados/zips/microdados_enem_2023.zip
programação/dados/zips/microdados_enem_2020.zip
programação/dados/zips/microdados_enem_2022.zip
